@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <p>Go to "Category" tab, choose your favorite category and select number to create an order for book proposition </p>
        <img class="picture" src="imgs/books.jpg">
    </div>  
</body>
